<FluentCard class="p-2">
    @if (RepositoryFile is { } file)
    {
        <div>
            <b>@file.Name</b>
            <em>(v@(file.Revision))</em>
        </div>

        <div>
            <small>
                @if (!string.IsNullOrWhiteSpace(file.AuthorName))
                {
                    <em>by: @file.AuthorName</em>
                }
                else
                {
                    <em>by: (no author name)</em>
                }
                @if (!string.IsNullOrWhiteSpace(file.AuthorContact))
                {
                    <span>&ThinSpace;(contact:</span>
                    <b>@file.AuthorContact</b>
                    @if (!string.IsNullOrWhiteSpace(file.AuthorUrl))
                    {
                        <span>&ThinSpace;@@</span>
                        <FluentAnchor Appearance=Appearance.Hypertext Href=@file.AuthorUrl>@file.AuthorUrl</FluentAnchor>
                    }
                    <span>)</span>
                }
                else if (!string.IsNullOrWhiteSpace(file.AuthorUrl))
                {
                    <FluentAnchor Appearance=Appearance.Hypertext Href=@file.AuthorUrl>@file.AuthorUrl</FluentAnchor>
                }
            </small>
        </div>
        <div>
            <small>
                <span class="font-mono">@file.Type</span> (ID: <span class="font-mono">@file.Id</span>)
            </small>
        </div>
        <ul>
            <small>
                <li>
                    File URL: <a href="@file.FileUrl">@file.FileUrl</a>
                </li>
                <li>
                    GitHub: <a href="@file.GithubUrl">@file.GithubUrl</a>
                </li>
                <li>
                    Report a bug: <a href="@file.ReportBugUrl">@file.ReportBugUrl</a>
                </li>
                <li>
                    Bug tracker: <a href="@file.BugTrackerUrl">@file.BugTrackerUrl</a>
                </li>
            </small>
        </ul>
    }
</FluentCard>

@code {
    [Parameter]
    public CatpkgFileInfo? RepositoryFile { get; set; }
}