@inject GalleryHttpClient client
@inject GalleryBrowserState state

@if (CatpkgGallery is { InfoCache: { } galleryInfo })
{
    <FluentCard class="p-2">
        <h4>@galleryInfo.Name</h4>
        <em>@galleryInfo.Description</em>
        <ul>
            <li>
                Website URL: <a href="@galleryInfo.WebsiteUrl">@galleryInfo.WebsiteUrl</a>
            </li>
            <li>
                GitHub: <a href="@galleryInfo.GithubUrl">@galleryInfo.GithubUrl</a>
            </li>
            <li>
                Catpkg-Gallery JSON: <a href="@galleryInfo.RepositorySourceUrl">@galleryInfo.RepositorySourceUrl</a>
            </li>
            <li>
                Discord: <a href="@galleryInfo.DiscordUrl">@galleryInfo.DiscordUrl</a>
            </li>
            <li>
                Facebook: <a href="@galleryInfo.FacebookUrl">@galleryInfo.FacebookUrl</a>
            </li>
            <li>
                Twitter: <a href="@galleryInfo.TwitterUrl">@galleryInfo.TwitterUrl</a>
            </li>
            <li>
                Atom feed: <a href="@galleryInfo.FeedUrl">@galleryInfo.FeedUrl</a>
            </li>
        </ul>

        <FluentCheckbox @bind-Value=ShowArchived>
            Show Archived Repositories
        </FluentCheckbox>
    </FluentCard>

    var repoList = repositories;

    <FluentDataGrid RowsData=repoList TItem=CatpkgRepositoryInfo GenerateHeader=GenerateHeaderOption.Default
    ColumnDefinitions=ColumnDefinitions GridTemplateColumns="1fr 2fr">
        <RowItemTemplate>
            <FluentDataGridRow>
                <FluentDataGridCell GridColumn=1>
                    <p>
                        <b>@context.Description</b>
                        @if (context.Archived is true)
                            {
                                <span class="ml-1">
                                    <FluentBadge Appearance="Appearance.Neutral">Archived</FluentBadge>
                                </span>
                            }
                        </p>
                        <p>
                            <a href="@context.GithubUrl">
                                <code>@context.Name</code>
                            </a>
                        </p>
                    </FluentDataGridCell>
                    <FluentDataGridCell GridColumn=2>
                        <p>
                            <b>@context.LastUpdateDescription</b>
                        </p>
                        <p>
                            <code>@context.Version</code> @@
                            @if (context.LastUpdated is { } lastUpdated)
                            {
                                var offset = DateTimeOffset.Parse(lastUpdated);
                                <time id="updateTime" datetime="@lastUpdated">@offset.ToLocalTime().ToString("u")</time>
                            }
                        </p>
                    </FluentDataGridCell>
                </FluentDataGridRow>
            </RowItemTemplate>
        </FluentDataGrid>
}
else if (CatpkgGallery is null)
{
    <span>No gallery selected.</span>
}
else
{
    <FluentProgressRing />
    <p>Loading catpkg gallery...</p>
}

@code {
    [Parameter]
    public CatpkgGalleryCache? CatpkgGallery { get; set; }

    [Parameter]
    public EventCallback<CatpkgGalleryCache> CatpkgGalleryChanged { get; set; }

    bool showArchived;
    bool ShowArchived
    {
        get => showArchived;
        set
        {
            showArchived = value;
            UpdateRepositories();
        }
    }
    List<CatpkgRepositoryInfo>? repositories;
    List<ColumnDefinition<CatpkgRepositoryInfo>> ColumnDefinitions { get; } = new()
    {
#nullable disable
        new("Name", x => x.Description),
        new("Latest Release", x => x.Version),
#nullable restore
    };

    void UpdateRepositories()
    {
        repositories = CatpkgGallery?.InfoCache?.Repositories
        ?.Where(x => x.Archived is true ? ShowArchived : true)
        .ToList()
        ?? new();
    }

    protected async override Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (CatpkgGallery is { Reference: { } galleryRef, InfoCache: null })
        {
            var result = await state.Cache.GetHydratedCatpkgGalleryCacheAsync(client, galleryRef);
            await CatpkgGalleryChanged.InvokeAsync(result);
        }
        UpdateRepositories();
    }
}
